.mat-toolbar{
  height: 40px;
  position: fixed;
  z-index: 100;
}

.nav_logo{
  width: 80px;
}

.nav_avatar{
  width: 25px;
}

.nav_actions_light{
  // background-color: transparent;
  color: white;
}
