<div  class="banner d-flex align-items-center" *ngIf="movie" [style.background-image]="'url('+movie.image+')'">
  <div class="row pl-4 movie">
    <h1 class="col-12 mat-title movie-title font-italic">
      {{movie.name}}
    </h1>
    <div class="col-12 d-none d-md-block movie-desc">
      {{movie.desc | truncate: 200}}
    </div>
    <div class="col-12 my-theme-button" >
      <button mat-flat-button class="mr-2 px-4">
        <mat-icon>play_arrow</mat-icon>
        Play
      </button>
      <button mat-flat-button class="px-4">
        <mat-icon>info</mat-icon>
        More Info
      </button>
    </div>
  </div>
</div>
