<ng-container *ngIf="(bannerMovies$ | async) as movies; else loading">
  <app-carousal-list [slides]="movies.length" [interval]="5000" [showArrows]="false" [showIndicators]="false" [maintainAspectRatio]="true" [proportion]="35" color="primary" [autoplay]="true">
    <app-carousal-card #slide *ngFor="let movie of movies; let i=index;">
      <app-banner [movie]="movie"></app-banner>
    </app-carousal-card>
  </app-carousal-list>
</ng-container>
<ng-template #loading>
  <app-carousal-list [slides]="1" [showArrows]="false" [showIndicators]="false" color="primary" >
    <app-carousal-card [image]="'assets/demo.png'">
    </app-carousal-card>
  </app-carousal-list>
</ng-template>

<div class="cat-list-container">
  <app-movie-cat-list *ngFor="let catergory of categoryList; let isFirst=first;" [class.first-cat]="isFirst" [title]="catergory.title" [url]="catergory.url"></app-movie-cat-list>
</div>
